# IDE files
.idea/
# Don't include VSCode settings as they differ from platform to platform
.vscode/settings.json

# Environments
/.venv/

# Python cache
__pycache__/

# Python package build directories
*.egg-info/

# Screen play results output file
/screenplay.output
